@model Dojo.Models.TipoDeAssociacao
<!--// Anderson Iago Merten andersonmerten@gmail.com-->
@{
    ViewBag.Title = "Detalhe do Tipo de Associação";
}

<h1> Detalhe do Tipo de Associação</h1>

<ul>
    <li>Nome: @Model.Nome </li>
    <li>Mensalidade: @Model.Mensalidade</li>
    <li>Periodo: @Model.Periodo</li>
</ul>